# Coinbase (required only if [crypto] broker = "coinbase" in config.toml)
# Get your key at: https://www.coinbase.com/settings/api
COINBASE_API_KEY_USERNAME=organizations/xxxx/apiKeys/xxxx
COINBASE_API_PRIVATE_KEY="-----BEGIN EC PRIVATE KEY-----\n...\n-----END EC PRIVATE KEY-----\n"
